<p id="notice"><%= notice %></p>


  <div class="ui text container">
    <h1 class="ui inverted header">
      GITSYNTH
    </h1>
    <h2>Shitty music from your commit messages.</h2>
    <div class="ui huge button blue inverted" id="modal_show">
       New Gitsong<i class="right arrow icon"></i>
    </div>
  </div>

  <div class="ui four column centered grid basic modal">
    <i class="close icon"></i>

    <div class="ui column content">
      <div class="image">
        <i class="sound icon"></i>
      </div>
    </div>

    <div class="content">
      <%= form_for(@gitsong) do |f| %>
        <div class="ui fluid form">
          <div class="field">
            <%= f.text_field :repo, placeholder: "URL" %>
          </div>
        </div>
      </div>


      <div class="actions">
        <div class="two fluid ui inverted buttons">
          <div id="cancel_button" class="ui red basic inverted button">
            <i class="remove icon"></i>
            Cancel
          </div>
          <button id="submit_button" class="ui green basic inverted button" type="submit" name="commit">
            <i class="checkmark icon"></i>
            Submit
          </button>
        </div>
      </div>

    <% end %>
  </div>
