<p id="notice"><%= notice %></p>

<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui text container">
    <h1 class="ui inverted header">
      GITSYNTH
    </h1>
    <h2>Shitty music from your commit messages.</h2>
    <div class="ui huge button blue inverted"><%= link_to 'New Gitsong', new_gitsong_path %> <i class="right arrow icon"></i></div>
  </div>

</div>
