<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui fluid text container">
    <h1 class="ui inverted header show">
        <%= @gitsong.repo  %>
    </h1>
    <div class="ui huge button blue inverted" id="play">
       Play<i id="icon" class="right play icon"></i>
    </div>
  </div>

</div>

  <%= content_tag :div, nil, id: "repo_data", data: {data: @data} %>
