<!DOCTYPE html>
<html>
<head>
  <title>GitSynth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <div class="right item">
        <a class="ui inverted blue button" href="/">Home</a>
        <a class="ui inverted blue button" href="/all">All</a>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
